<style>
				
				* {
					font:SourceSansPro, Sequel Sans Heavy;
				}

				body {
					background-color:#fbe7e6;
					position:relative;
				}

				a {
  					color: black;
   					text-decoration: none;
  				}
				.header {
					background-color: #0f85ef;
					position:absolute;
					top: -10px;
					left: -10px;
					width: 1750px; 
					height: 145px; 
					border-bottom: 9px solid #020101; 
					margin:auto;
				}
					#logo {
  						position:absolute;
  						top: 10px;
  						left: 500px;
					}
					
					#logo-2 {
  						position:absolute;
  						top: 0px;
  						left: 650px;
					}
				.navigation-tab{
					top:180px;
					left:1px;
					width:150px;
					height:170px;
					position:fixed;
					border: 5px solid #020101;
					background-color: #0f85ef;
					}
					.anchors {
					text-align: center;
					position: relative;
					top: 10px;
					}

					.anchors a{
					font-size: 25px;
					color: black;
					text-decoration: none;
					font-family: Bebas Neue;
					}

					.anchors a:hover {
					text-decoration: underline;
					color: white;
						}
				aside{
					background-color: #0f85ef;
					position:absolute;
					top: 180px;
					left: 1277px;
					width: 250px; 
					height: 250px; 
					border: 5px solid #020101;
					text-align: center;
						}
					.facebook {
  						background: url('../images/logo-3.png') no-repeat;
						top:80px;
						left:10px;
						width:150px;	
						}
					.twitter {
  						position:absolute;
  						top: 80px;
  						left: 120px;
					}
</style>